In [139]:
import pandas as pd
import json
import os

In [140]:
file = "winemag-data_first150k.csv"
Wine150_df = pd.read_csv(file)
Wine150_df.head()
Wine150_df.count()

Unnamed: 0     150930
country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

In [141]:
file = "winemag-data-130k-v2.csv"
Wine130_df = pd.read_csv(file)
Wine130_df.head()
Wine130_df.count()

Unnamed: 0               129971
country                  129908
description              129971
designation               92506
points                   129971
price                    120975
province                 129908
region_1                 108724
region_2                  50511
taster_name              103727
taster_twitter_handle     98758
title                    129971
variety                  129970
winery                   129971
dtype: int64

In [142]:
#Remove duplicates from Wine130

In [143]:
Wine130_Clean=Wine130_df.drop_duplicates(subset=["description", "country", "designation", "variety"], keep= "first")

In [144]:
Wine130_Clean.count()

Unnamed: 0               119980
country                  119921
description              119980
designation               85440
points                   119980
price                    111588
province                 119921
region_1                 100420
region_2                  46769
taster_name               95064
taster_twitter_handle     90535
title                    119980
variety                  119979
winery                   119980
dtype: int64

In [145]:
#Remove duplicates from Wine150

In [146]:
Wine150_Clean=Wine150_df.drop_duplicates(subset=["description", "country", "designation", "variety"], keep= "first")

In [147]:
Wine150_Clean.count()

Unnamed: 0     97841
country        97838
description    97841
designation    67950
points         97841
price          89126
province       97838
region_1       81910
region_2       39488
variety        97841
winery         97841
dtype: int64

In [148]:
#Rename Wine130 columns

In [149]:
Wine130_Clean=Wine130_Clean.rename(columns={"title":"Title", "country":"Country", "description":"Description", "designation":"Designation",
                             "points":"Points","price":"Price","province":"Province", 
                            "region_1":"Region_1", "region_2":"Region_2", "variety":"Variety",
                             "winery":"Winery"}, index=None)
Wine130_Cleaner=Wine130_Clean[["Title", "Country", "Description", "Designation", "Points", "Price", "Province", "Region_1",
              "Region_2", "Variety", "Winery"]]
Wine130_Cleaner.head(2)

,Title,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery
0,Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,White Blend,Nicosia
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Portuguese Red,Quinta dos Avidagos

In [150]:
#Rename Wine150 columns

In [151]:
Wine150_Clean=Wine150_Clean.rename(columns={"country":"Country", "description":"Description", "designation":"Designation",
                             "points":"Points","price":"Price","province":"Province", 
                            "region_1":"Region_1", "region_2":"Region_2", "variety":"Variety",
                             "winery":"Winery"}, index=None)
#Wine150_Clean=Wine150_Clean.drop(columns=["taster_name", "taster_twitter_handle"])
Wine150_Clean.head(2)

,Unnamed: 0,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [152]:
#only show these specific columns

In [153]:
Wine150_Cleaner=Wine150_Clean[["Country", "Description", "Designation", "Points", "Price", "Province", "Region_1",
              "Region_2", "Variety", "Winery"]]
Wine150_Cleaner.head(2)

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [154]:
Wine130_Cleaner.count()

Title          119980
Country        119921
Description    119980
Designation     85440
Points         119980
Price          111588
Province       119921
Region_1       100420
Region_2        46769
Variety        119979
Winery         119980
dtype: int64

In [155]:
TotalOfWine130=Wine130_Cleaner["Country"].count()
TotalOfWine150=Wine150_Cleaner["Country"].count()
print(f"{TotalOfWine130+TotalOfWine150}")

217759

In [156]:
#Append Wine150 with Wine130, making a Total df

In [157]:
Total=Wine150_Cleaner.append(Wine130_Cleaner)
Total.head()

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery,Title
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,NaN
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,NaN
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,NaN

In [158]:
#Remove duplicates after appending, only if "Description", "Country", "Designation", and "Variety" are all the same
#between two records

In [159]:
TotalWine=Total.drop_duplicates(subset=["Description", "Country", "Designation", "Variety"], keep= "first")
TotalWine.count()

Country        169429
Description    169489
Designation    119408
Points         169489
Price          156659
Province       169429
Region_1       141566
Region_2        67532
Variety        169488
Winery         169489
Title           71648
dtype: int64

In [160]:
TotalWine.head()

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery,Title
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,NaN
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,NaN
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,NaN

In [161]:
#export to csv

In [162]:
TotalWine.to_csv('TotalWine.csv', index=False)

In [163]:
DuplicatesOfDescription = TotalWine[TotalWine.duplicated(["Description"])]
short=DuplicatesOfDescription.sort_values(by="Description", ascending=False)
short.head()

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery,Title
9096,France,"While there is a fine citrus element here, the...",Les Clissages d'Or Sur Lie,88,16.0,Loire Valley,Muscadet Sèvre et Maine,NaN,Melon,Guy Saget,Guy Saget 2008 Les Clissages d'Or Sur Lie (Mu...
31584,Italy,"Vibrant and spicy, this savory red delivers ar...",Costera,90,18.0,Sicily & Sardinia,Cannonau di Sardegna,NaN,Red Blend,Argiolas,Argiolas 2013 Costera (Cannonau di Sardegna)
116488,US,"Very tannic, rough.",NaN,80,11.0,Washington,Columbia Valley (WA),Columbia Valley,Cabernet Merlot,Hoodsport,NaN
126257,US,Very ripe and forward in baked fruit or pie-fi...,NaN,84,45.0,California,Santa Ynez Valley,Central Coast,Syrah,Sunstone,NaN
27726,France,"Tight acidity, fresh fruit, with lightness and...",Les Clissages d'Or Sur Lie,87,NaN,Loire Valley,Muscadet Sèvre et Maine,NaN,Melon,Guy Saget,Guy Saget 2010 Les Clissages d'Or Sur Lie (Mu...

In [164]:
with open('winemag-data-130k-v2.json', 'r') as file:
    Wine130B = json.load(file)

In [165]:
Wine130B_Clean = pd.read_json('winemag-data-130k-v2.json')
Wine130B_Clean.head(1)

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia

In [174]:
Wine130B_Clean.to_csv('JSONtoCSV_winemag130.csv', index=False)

In [166]:
Wine130B_Clean=Wine130B_Clean.rename(columns={"title":"Title", "country":"Country", "description":"Description", "designation":"Designation",
                             "points":"Points","price":"Price","province":"Province", 
                            "region_1":"Region_1", "region_2":"Region_2", "variety":"Variety",
                             "winery":"Winery"}, index=None)
Wine130B_Cleaner=Wine130B_Clean[["Title", "Country", "Description", "Designation", "Points", "Price", "Province", "Region_1",
              "Region_2", "Variety", "Winery"]]
Wine130B_Cleaner.head(2)

,Title,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery
0,Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,None,White Blend,Nicosia
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,None,None,Portuguese Red,Quinta dos Avidagos

In [167]:
Wine130B_Cleaned=Wine130_Cleaner.drop_duplicates(subset=["Description", 
                                                         "Country", "Designation", 
                                                         "Variety"], keep= "first")
Wine130B_Cleaner.count()

Title          129971
Country        129908
Description    129971
Designation     92506
Points         129971
Price          120975
Province       129908
Region_1       108724
Region_2        50511
Variety        129970
Winery         129971
dtype: int64

In [168]:
CombinedTotal=Total.append(Wine130B_Cleaner)
CombinedTotal.head()

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery,Title
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,NaN
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,NaN
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,NaN

In [169]:
CombinedTotal=CombinedTotal.drop_duplicates(subset=["Description", 
                                                         "Country", "Designation", 
                                                         "Variety"], keep= "first")
CombinedTotal.count()

Country        169429
Description    169489
Designation    119408
Points         169489
Price          156659
Province       169429
Region_1       141566
Region_2        67532
Variety        169488
Winery         169489
Title           71648
dtype: int64

In [170]:
CombinedTotal.to_csv('CombinedTotal.csv', index=False)